@import "tailwindcss";

:root {
  --background: #232136;
  --foreground: #908caa;
  --color-primary: #eb6f92;
  --color-secondary: #9ccfd8;
  --color-text: #e0def4;
  --font-mona-sans: "Mona Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-text: var(--color-text);
  --font-sans: var(--font-mona-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232136;
    --foreground: #908caa;
  }
}

body {
  background-color: var(--color-background);
  font-family: var(--font-sans);
  scroll-padding-top: 8rem;
  scroll-behavior: smooth;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
